.scrollBar {
	overflow-x: hidden;
}

.scrollBar::-webkit-scrollbar {

	width: 8px;
	/* Ширина полосы скроллбара */
}

.scrollBar::-webkit-scrollbar-thumb {
	background-color: #424242;
}

.scrollBar::-webkit-scrollbar-track {
	background-color: #171717;
	/* Цвет трека */
}